<html>
    <head>

    </head>
    <body>
        <form action="details" method="GET">
            {% csrf_token %}
            <h1>User Details</h1>
            <p>User ID: {{ user.id }}</p>
            <p>Name: {{ user.name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Followers: {{ user.followers }}</p>
            <p>Following: {{ user.following }}</p>

            <h1>Users Post</h1>
            <ul>
                {% for post in posts %}
                    <li>{{ post.post }}</li>
                {% endfor %}
            </ul>
        </form>
    </body>
</html>